<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AnalyzeYourText</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(urrentc)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to AnalyzeYourText</strong> You should do here your editing as your like.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   <div class="container">
       <form action="/analyze" method="post">{% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Enter Your Text</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="analyzetext"></textarea>
                <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="Removepunc">
            <label class="custom-control-label" for="customSwitch1">Remove punctuation</label>
          </div>
              <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="customSwitch2" name="capfirst">
            <label class="custom-control-label" for="customSwitch2">capfirst </label>
          </div>
                   <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="newlineremove">
            <label class="custom-control-label" for="customSwitch3">newlineremove</label>
          </div>
                   <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="customSwitch4" name="spaceremove">
            <label class="custom-control-label" for="customSwitch4">spaceremove</label>
          </div>
                   <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="customSwitch5" name="charcount">
            <label class="custom-control-label" for="customSwitch5">charcount</label>
          </div>
              <button type="submit" class="btn btn-dark mt-2" >Analzye Text</button>
            </div>
       </form>
   </div>
  </body>
</html>