<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
<h1>welcome to text analyzer. Enter your text below.</h1>
<form action="/analyze" method="get">
    <textarea name="analyzetext" style="width: 1513px; height: 154px;"></textarea>
    Remove punctuation <input type="checkbox" name="Removepunc"><br>
    capfirst <input type="checkbox" name="capfirst"><br>
    newlineremove <input type="checkbox" name="newlineremove"><br>
    spaceremove <input type="checkbox" name="spaceremove"><br>
    charcount <input type="checkbox" name="charcount"><br>


    <button type="submit">Analyzer Text</button>
</form>
</body>
</html>